html
{
    font-size: 18px;
}
body
{
    background-color: rgb(249, 214, 161);
    color: black;
}
a
{
    color: rgb(72, 0, 255);
}
a:visited {
    color: rgb(77, 0, 150);
}
a:hover, a:active {
    color: black;
}

table, tr, th, td, caption {
    border: 1px solid #2b1640;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    padding: 0.5rem;
}